{{#if playlists}}
<div class="pageBanner">
    <h1 class="pageLocation">Dashboard // <span class="playlists">Playlists</span></h1>
    <div class="dashboardLogo">
        <a href="/" class="homeImageLink homeLinkWithLogo" title="home page link">Tune <img src="/images/Tune-Time-Cropped-Green.png" alt="logo" class="dashboardLogoImage"> Time</a>
    </div>
{{> username}}
</div>
{{else}}
<div class="pageBanner">
    <h1 class="pageLocation">Homepage<span class="ifSignedIn"></span></h1>
    <div class="dashboardLogo">
        <a href="/dashboard" class="homeImageLink homeLinkWithLogo" title="dashboard link">Tune <img src="/images/Tune-Time-Cropped-Green.png" alt="logo" class="dashboardLogoImage"> Time</a>
    </div>
{{> username}}
</div>
{{/if}}