<div class="promptForm" id="promptForm">
    <div class="formHeader"><h1><div class="hinner">Generate New Playlist Form</div> <span class="closeBtn">X</span></h1></div>
    <form action="" class="playlistPromptForm">
        <h2>Title of the New Playlist</h2>
        <input name="playlistTitle" class="playlistTitle" type="text" placeholder="Title of the New Playlist">
        <h2>Duration of the New Playlist (In Minutes)</h2>
        <input name="playlistDuration" class="playlistDuration" type="text" placeholder="Duration of the New Playlist... Please enter a number between 10 - 120 minutes">
        <h2>Genre to Sample</h2>
        <select class="genres" data-placeholder="Choose a Genre...">
            <option value="Choose">Choose a Genre...</option>
            <option value="Random">Random</option>
            <option value="Pop">Pop</option>
            <option value="R&B">R&B</option>
            <option value="Rap">Rap</option>
            <option value="Hip Hop">Hip Hop</option>
            <option value="Rock">Rock</option>
            <option value="Metal">Metal</option>
            <option value="Metalcore">Metalcore</option>
            <option value="Country">Country</option>
        </select>
        <button class="submitBtn" type="submit"><i class="fas fa-plus"></i> Generate Playlist</button>
    </form>
    <div class="userPlaylist">
        {{!-- Custom User Playlist will go here --}}
    </div>
    <div class="buttonsRow">
        <button id="save"><i class="fas fa-save"></i> Save this Playlist</button>
        <button id="generateNew"><i class="fas fa-undo"></i> Generate New Playlist</button>
    </div>
</div>