.flex-container {
  display: flex;
  justify-content: center;
  background: transparent;
}

#rating {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: .3em;
}

.starRating {
  width: 99px;
  height: 25px;
  background: url(/images/Star-Rating.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  transition: 500ms ease-in-out;
}

#song-title {
  font-size: 40px;
  padding-top: .3em;
  color: var(--green);
  // color: #333;
  display: block;
  @media (max-width: 993px) {
    font-size: 30px;
    padding-top: 1em;
  }
}

.song-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.song-title {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#album-cover {
  display: flex;
  width: auto;
  height: 300px;
}

img {
  border-radius: 15px;
}

.song-info {
  color: var(--green);
  text-align: center;
  line-height: 1.5;
}

span {
  color: white;
}

.fa {
  color: var(--green);
  font-size: 50px;
  cursor: pointer;
  user-select: none;
}

.fa:hover {
  color: var(--green);
}

.container-fluid {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  background: #FFF;
}

/* ============= Animation background ========= */
.background {
  background: linear-gradient(132deg, #0063a0, #5a528b, #006de9);
  background-size: 400% 400%;
  animation: Gradient 15s ease infinite;
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0px;
}

.cube {
  position: absolute;
  top: 80vh;
  left: 45vw;
  width: 10px;
  height: 10px;
  border: solid 1px var(--green) !important;
  -webkit-transform-origin: top left;
  transform-origin: top left;
  -webkit-transform: scale(0) rotate(0deg) translate(-50%, -50%);
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  -webkit-animation: cube 12s ease-in forwards infinite;
  animation: cube 12s ease-in forwards infinite;
  z-index: 0;
}

.cube:nth-child(2n) {
  border-color: #FFF ;
}

.cube:nth-child(2) {
  animation-delay: 2s;
  left: 25vw;
  top: 40vh;
}

.cube:nth-child(3) {
  animation-delay: 4s;
  left: 75vw;
  top: 50vh;
}

.cube:nth-child(4) {
  animation-delay: 6s;
  left: 90vw;
  top: 10vh;
}
.cube:nth-child(5) {
  animation-delay: 8s;
  left: 10vw;
  top: 85vh;
}
.cube:nth-child(6) {
  animation-delay: 10s;
  left: 50vw;
  top: 10vh;
}
/* Animate Background*/
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}

@media (max-width: 786px) {
  .trackPageText {
    font-size: 1.4em;
  }
  #song-title {
    font-size: 25px;
  }
}

@media (max-width: 625px) {
  #song-title {
    font-size: 23px;
  }
  .trackPageText {
    font-size: 1.3em;
  }
  #album-cover {
    height: 365px;
  }
  .song-info {
    line-height: .7;
  }
  .song-container {
    padding-top: 3em;
  }
}

@media (max-width: 580px) {
  h2 {
    text-align: left;
  }
  #song-title {
    font-size: 21px;
  }
  .trackPageText {
    font-size: 1.2em;
    line-height: .3em;
  }
  #rating {
    display: flex;
    align-items: center;
    grid-gap: .2em;
    margin-bottom: -.6em;
    justify-content: flex-start;
  }
}

@media (max-width: 535px) {
  .song-info {
    width: 65%;
    margin: 0 auto;
  }
  .trackPageText {
    font-size: 1em;
    line-height: 1.2em;
  }
  #rating {
    margin-bottom: 0em;
  }
  .song-container {
    padding-top: 1em;
  }
}