
<div class="flex-container">
        <div class="logo">
            <h1>Tune Time LOGO</h1>
        </div>

        <div class="Recent-playlist">
            <h1>Recent Playlist</h1>

            
                <ul>
                    <li><a href="#">Walk The Dog</a></li>
                    <li><a href="#">NSFW</a></li>
                    <li><a href="#">Long Commute</a></li>
                    <li><a href="#">Short Commute</a></li>
                </ul>
            
        </div>

        <div class="current-playlist-container">
            <div class="title-duration-genre">

                <h1 class="playlist-name">Walk The Dog</h1>
                <h2 class="duration">10min</h2>
                <h2 class="genre">Hip-Hop</h2>
            </div>

            <ol class="track-list">
                <li>Lil Wayne- She Will ft.Drake</li>
                <li>J.cole- Pride is The Devil ft.Lil Baby</li>
                <li>Dababy- BOP</li>
                <li>lil Baby- sum 2 Prove</li>
            </ol>

            <button class="save-playlist">Save Playlist</button>

            <div class="sharethis-inline-share-buttons"></div>
        </div>

    </div>

