
<h1>Tune Time</h1>
<div class="blockhompage">
<div class="wrapper">
    <div class="blockhompage_covercontent">
        <h1>
            <span class="blockhompage_covertitle">TuneTime</span>
            <span class="medium_heading">BLAH BLAHBLAH</span>
        </h1>
        <span class="block_button" data-url="">GENERATE PLAYLIST
            ::after
        </span>
        <p>This app will auto generate a playlist to get you through you work commute, workout, or any activity over 10 minutes</p>
    </div>
</div>
</div>