<div class="flex-container">
    {{> header}}
    <div class="flexCont homeP">
        <div class="left">
            <div class="homepageLeft">
                <div class="homepageLeftTop">
                    <h1 class="tuneTime-home savedListsText">TuneTime</h1>
                    <p class="descriptionBlock savedListsText">Your custom TuneTime playlist is just a few clicks away.</p>
                    <div class="descriptionBlock savedListsText">
                        The TuneTime app will auto generate a playlist to get you through you work commute, workout, or any activity over 10 minutes! </p>
                    </div>
                    {{#if logged_in}}
                    <div class="mockGenerateButton savedListsText">
                        <a class="mockGenerateButton_link homeLink" type="submit" href="/dashboard"><i class="fas fa-bars"></i> Check Saved Lists</a>
                    </div>
                    {{else}}
                    <div class="mockGenerateButton savedListsText">
                        <a class="mockGenerateButton_link homeLink" type="submit" href="/login"><i class="fas fa-sign-in-alt"></i> Login</a>
                    </div>
                    {{/if}}
                </div>
            </div>
            <div class="homepageLeftBottom">
                <img src="/images/Tune-Time-Cropped-Green.png" alt="Logo" class="logoHomepage">
                {{#if logged_in}}
                <div class="mockGenerateButton savedListsText">
                    <h1 class="tuneTime-home">TuneTime</h1>
                    <p class="descriptionBlock">You can generate a new playlist.</p>
                    <a class="mockGenerateButton_link homeLink generateButton" type="submit"><i class="fas fa-plus"></i> Generate Playlist</a>
                </div>
                {{else}}
                <div class="mockGenerateButton savedListsText">
                     <h1 class="tuneTime-home">TuneTime</h1>
                    <p class="descriptionBlock">Or create a free account to begin.</p>
                    <a class="mockGenerateButton_link homeLink" type="submit" href="/login">Sign Up <i class="fas fa-user-plus"></i></a>
                </div>
                {{/if}}
            </div>
        </div>
    <div class="currentPlaylist homepageRight">
        <div class="animation" id="greenSpeaker"></div>
    </div>
    </div>
    {{> generateButton}}


    {{> playlistGenerateForm}}
</div>