<link rel="stylesheet" href="/sass/styles.css">
<div class="container-fluid">
    <div class="background">
        <div class="cube"></div>
        <div class="cube"></div>
        <div class="cube"></div>
        <div class="cube"></div>
        <div class="cube"></div>
        <div class="flex-container">
            <div class="song-container">
                <div class="song-title">
                    <h1 id="song-title">Good Life</h1>
                    <div class="shareThis albumCover">
                        <div class="sharethis-sticky-share-buttons"></div>
                        <img id="album-cover" src="" alt="Album Cover">
                    </div> 
                </div>
                <div class="song-info">
                    <div class="sharethis-inline-reaction-buttons"></div>
                    <br>
                    <h2 class="trackPageText" id="rating"><span>Rating: </span><div class="starRating" style="clip-path: polygon(0% 0, 0% 0%, 0% 100%, 0 100%);"></div></h2>
                    <h2 class="trackPageText" id="durationTrack"><span>Duration: </span>10 Min</h2>
                    <h2 class="trackPageText" id="genreTrack"><span>Genre: </span>R&B/Soul</h2>
                    <h2 class="trackPageText" id="albumTrack"><span>Album: </span>Graduation</h2>
                    <h2 class="trackPageText" id="artistTrack"><span>Artist: </span>Kanye west ft.T-pain</h2>
                    <h2 class="trackPageText" id="release-dateTrack"><span>Release: </span>2007</h2>
                </div>
            </div>
        </div>
    </div>
</div>
{{> generateButton}}

{{> playlistGenerateForm}}
<script src="/js/track.js"></script>


