
.flex-container{
    background-color: lightgray;
    height: 100vh;
}

.logo{
    background-color: #51e415;
    border: 1px solid black;
    height: 10vh;
    text-align: center;
    color:black;
}

.Recent-playlist{
    background-color:#ff5500;
    border: 1px solid black;
    width: 33%;
    height: 33%;
}

ul li a { 
    display:block;
    width:inherit;
    height:inherit;
    text-decoration: none;
    color: black;
    font-size: 28px;
    line-height: 45px;
    
 }

 .title-duration-genre{
     line-height: 5px;
     margin-bottom: 50px;
     text-align: center;
 }

 .duration, .genre{
     font-size: 22px;
     color:black;
 }

.current-playlist-container{
    background-color: #51e415;
    border: 1px solid black;
    width: 33%;
    height: auto;
    margin: 200px 0px 400px 400px;
    text-align: center;
    color: black;

body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}