/* Header css */
.menu {
  float: right;
}
.menu ul {
  list-style: none;
  margin: 8px;
  padding: 0
}
.menu li {
  display: inline-block;
  padding: 0 20px;
}
.menu a {
  text-decoration: none;
  color: #333;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Lato';
}
.menu a:hover {
  text-decoration: underline;
}

.flexCont {
  display: flex;
  width: 100%;
}


.flex-container{
    background-color: lightgray;
    height: 100vh;
}

.logo{
    background-color: #04AA6D;
    border: 1px solid black;
    height: 10vh;
    text-align: center;
    color:black;
}

.Recent-playlist{
    background-color:#ff5500;
    border: 1px solid black;
    width: 100%;
}

ul li a { 
    display:block;
    width:inherit;
    height:inherit;
    text-decoration: none;
    color: black;
    font-size: 28px;
    line-height: 45px;
    cursor: pointer;
    
 }

 .title-duration-genre{
     line-height: 5px;
     margin-bottom: 50px;
     text-align: center;
 }

 .duration, .genre{
     font-size: 22px;
     color:black;
 }

.current-playlist-container{
    background-color: #04AA6D;
    border: 1px solid black;
    width: 100%;
    height: auto;
    margin: 0px;
    text-align: center;
    color: black;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
form {
  border: 3px solid #f1f1f1;
  width: 50%;
  margin: auto;
}

form h2 {
  text-align: center;
}

input[type=text], input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 10px;
}

.buttonContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0em 0;
}

.buttonContainer button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

.userPlaylist {
  width: 50%;
  margin: 4em auto;
  overflow: auto;
  height: 700px;
}

.userPlaylist::-webkit-scrollbar {
  opacity: 0.6;
}

.promptForm {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  min-height: 100vh;
  background: rgb(0, 0, 0, 80%);
  backdrop-filter: blur(3px);
  flex-direction: column;
  /* transition: 150ms ease-in-out; */
}

.formHeader {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.formHeader h1 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: #fff;
  border-bottom: groove 6px #04aa6d;
  padding-bottom: .5em;
  margin: 3em auto -1em;
}

.promptForm form {
  width: 80%;
  border: none;
  margin: 3em auto;
  padding: 0;
  /* transition: 150ms ease-in-out; */
  color: #fff;
}

.promptForm form button {
  border-radius: 10px;
  margin: 2em 0;
  font-size: 1.25em;
  font-weight: 700;
}

.promptForm form h2 {
  color: #04aa6d;
}

.closeBtn {
  color: #04aa6d;
  cursor: pointer;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}