:root {
  --green: #04aa6d;
  --gray: #333333;
}

/* Import Google Fonts: Josefin Sans */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

html,body {
  overflow: hidden;
}

body {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Josefin Sans' !important;
  margin: 0;
  background: var(--gray);
  color: var(--green);
}

h1 {
  font-size: 1.7em;
}

/* Header css */
header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.logoAndMenu {
  display: flex;
  width: 75%;
  align-items: center;
  grid-gap: 1em;
  padding: 0 2em;
}
.registration {
  width: 25%;
  display: flex;
  grid-gap: 1em;
  justify-content: flex-end;
  padding: 0 2em;
}
.playListName:hover, .trackHref:hover {
  transition: 500ms ease-in-out;
  color: var(--green);
}
.title-duration-genre h2 span:not(.greenSep) {
  color: #333;
}
.track {
  padding: .5em;
  font-weight: 700;
  color: #333;
}
.pageBanner {
  padding: 1em 2em;
  background: var(--green);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pageLocation {
  font-size: 1.4em;
  width: 100%;
}
.track-list {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  width: 100%;
  column-gap: 2em;
  row-gap: 0em;
}
.playListTracks {
  display: flex;
  flex-direction: column;
}
.playlists {
  font-size: .7em;
  color: #fff;
}
.playListName, .trackHref {
  transition: 500ms ease-in-out;
  color: #333;
  cursor: pointer;
  position: relative;
}
.trackHref {
  text-decoration: none;
}
.playListName::before, .trackHref::before {
  content: '';
  position: absolute;
  bottom: -7px;
  left: 0;
  width: 100%;
  height: 13%;
  background: var(--gray);
  transform: scale(0,1);
  transform-origin: left;
 transition: 500ms ease-in-out;
}
.playListName:hover::before, .trackHref:hover::before {
  transform: scale(1,1);
  height: 13%;
  background: var(--green);
 transition: 500ms ease-in-out;
}
@media (max-width: 1540px) {
  .playListName {
    font-size: .8em;
  }
}
.ifSignedIn {
  font-size: 1em;
  width: 100%;
  text-align: right;
}
.menu ul {
  list-style: none;
  margin: 0px;
  padding: 0
}
.menu li {
  display: inline-block;
  padding: 0 20px;
}
.menu a {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Josefin Sans' !important;
  font-weight: 500;
}
.menu a:hover {
  text-decoration: underline;
}

.menuLink {
  color: #ffffff;
  font-family: 'Josefin Sans' !important;
  text-decoration: none;
  font-weight: 500;
  padding: 1em;
  background: var(--green);
  border-radius: 2em;
}

.signin {
  background: var(--gray);
}

.flexCont {
  display: flex;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

.flex-container {
  background: lightgray;
}

.savedLists {
  padding: 0em 0em 0.5em 1em;
}

.pLs {
  padding-bottom: 1em;
}

.dashboardLeft {
  width: 45%;
}

.dashboardLeftTop {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.dashboardLeftBottom {
  max-height: 344px;
  border-right: solid 15px var(--green);
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}

a.albumImageLink {
  position: relative;
  transition: 500ms ease-in-out;
}

a.albumImageLink::before {
  content: attr(data-trackInfo);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  font-weight: 300;
  line-height: 1.5em;
  transform-origin: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transform: scale(0,1);
  background: rgba(0, 0, 0, 60%);
  opacity: 0;
  backdrop-filter: blur(4px);
  box-sizing: border-box;
  padding: 1em;
  transition: 500ms ease-in-out;
}

a.albumImageLink:hover::before {
  transform: scale(1,1);
  opacity: 1;
  transition: 500ms ease-in-out;
}

.trackImage {
  width: 33.333%;
  height: auto;
  display: flex;
}

.numOf {
  font-size: .6em;
}

.albumImage {
  width: 100%;
  height: 100%;
}

.savedListsText {
  padding-left: 0;
  margin-left: 1em;
  padding-right: 0em;
  margin-right: 1em;
}

.descriptionBlock {
  padding-right: 1em;
  font-weight: 700;
  font-size: 1.3em;
}

.homepageLeft {
  width: 100%;
  height: 100%;
  padding: 2em 0;
  display: flex;
  flex-direction: column;
  max-height: 310px;
  overflow-x: hidden;
  overflow-y: auto;
  border-bottom: solid 15px var(--green);
  border-right: solid 15px var(--green);
}

.homepageLeftTop {
  height: 100%;
  width: 100%;
}

.logoHomepage {
  height: auto;
  margin: 0 auto;
  max-width: 30%;
}

.homepageLeftBottom .savedListsText {
  width: 61%;
  margin: 0 auto;
}

.homepageLeftBottom {
  height: 100%;
  width: 100%;
  border-right: solid 15px var(--green);
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 345px;
}

.pageTitle {
  padding-left: 1em;
}

.recentPlaylist {
  width: 100%;
  height: 100%;
  padding: 2em 0;
  display: flex;
  flex-direction: column;
  max-height: 310px;
  overflow-x: hidden;
  overflow-y: auto;
  border-bottom: solid 15px var(--green);
  border-right: 15px solid var(--green);
}

.dashboardRight {
  width: 100%;
  border-left: 15px solid var(--green);
  border-right: 15px solid var(--green);
}

.logo {
  background-color: #04AA6D;
  border: 1px solid black;
  height: 10vh;
  text-align: center;
  color: black;
  border-radius: 10px;
}

ul li a { 
    display:block;
    width:inherit;
    height:inherit;
    text-decoration: none;
    color: black;
    font-size: 28px;
    line-height: 45px;
    cursor: pointer;
    
 }

 .title-duration-genre {  
  text-align: left;
 }

 .duration, .genre {
     font-size: 22px;
     color:black;
 }

.current-playlist-container{
    background-color: #04AA6D;
    border: 1px solid black;
    width: 100%;
    height: auto;
    margin: 0px;
    text-align: center;
    color: black;
}

form {
  border: 3px solid #f1f1f1;
  width: 50%;
  margin: auto;
}

form h2 {
  text-align: left;
}

input[type=text], input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 10px;
}

.buttonContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0em 0;
  position: fixed;
  bottom: 0;
}

.buttonContainer button, .buttonContainer a {
  background-color: #04AA6D;
  color: white;
  padding: 25px 0px;
  margin: 0px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-family: 'Josefin Sans' !important;
  font-size: 1.5em;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: .5em;
}
.homeLink {
  background-color: #04AA6D;
  color: white;
  padding: 14px 0px;
  margin: 35px 0 0;
  border: none;
  cursor: pointer;
  width: 100%;
  display: block;
  text-align: center;
  text-decoration: none;
}
.headerButtons {
  width: 100%;
  text-align: right;
}
a.username {
  padding-right: 1em;
  text-transform: capitalize;
}
.headerButtons a:not(.username) {
  color: var(--green);
  text-decoration: none;
  padding: 1em 2em;
  margin: 0 .3em;
  background: #fff;
  border-radius: 0px;
  position: relative;
  cursor: pointer;
  font-weight: bolder;
  z-index: 0;
  transition: 500ms ease-in-out;
}
.headerButtons a:not(.username):hover {
  background: #333;
  color: #fff;
  transition: 500ms ease-in-out;
}
.headerButtons a:not(.username)::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 7%;
  bottom: 0;
  left: 0;
  transform-origin: left;
  background: #fff;
  transform: scale(0,1);
  z-index: 0;
  transition: 500ms ease-in-out;
}
.headerButtons a:not(.username):hover::after {
  transform: scale(1,1);
  transition: 500ms ease-in-out;
}
.animation {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homepageRight {
  overflow-y: hidden !important;
}
.animation svg {
  width: 100% !important;
  height: 75% !important;
  transform: scale(3) !important;
}
.listItem {
  font-size: 1.4em;
  margin: 1em;
  font-weight: 700;
  display: flex;
  align-items: center;
  grid-gap: 0.3em;
}

.playlistItem {
  display: flex !important;
  align-items: center;
  grid-gap: 0.3em;
}

.borderBottom {
  border-bottom: solid 3px #333333;
  padding-bottom: .5em;
  display: inline-block;
  margin-bottom: .5em;
}

.genreDuration {
  font-size: .6em;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background: #333;
  transition: 150ms ease-in-out;
}
.buttonContainer i {
  font-size: .7em;
  margin-top: -5px;
}
.dashboardLogo {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.homeImageLink {
  text-align: center;
}
.dashboardLogoImage {
  max-width: 48px;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: -40px 0 -30px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

.userPlaylist {
  width: 50%;
  margin: 4em auto;
  overflow: auto;
  height: 420px;
}

.trackDetails {
  color: #fff;
  padding: .5em 1em;
  display: flex;
  grid-gap: 1em;
}

.trackDetails a {
  color: #04aa6d;
  text-decoration: none;
  padding-right: .3em;
}

.greenSep {
  color: #04aa6d;
}

.buttonsRow button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-weight: 800;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonsRow i {
  font-size: 1.2em;
  margin: 0 .5em;
}

.listDetails {
  font-weight: 300;
  font-size: .7em;
  color: #d1d1d1;
}

#generateNew {
  background-color: #333;
}

.dashboardRight {
  width: 100%;
  border-left: 15px solid var(--green);
}

.dashboardLeftBottom::-webkit-scrollbar {
  margin-right: -15px;
  background: #04AA6D;
}

.dashboardLeftBottom::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
  transition: 150ms ease-in-out;
}

.dashboardLeftBottom::-webkit-scrollbar-thumb:hover {
  background: #000;
  transition: 150ms ease-in-out;
}

.recentPlaylist::-webkit-scrollbar {
  margin-right: -15px;
  background: #04AA6D;
}

.recentPlaylist::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
  transition: 150ms ease-in-out;
}

.recentPlaylist::-webkit-scrollbar-thumb:hover {
  background: #000;
  transition: 150ms ease-in-out;
}

.currentPlaylist::-webkit-scrollbar {
  background: #04AA6D;
}

.currentPlaylist::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
  transition: 150ms ease-in-out;
}

.currentPlaylist::-webkit-scrollbar-thumb:hover {
  background: #000;
  transition: 150ms ease-in-out;
}

.trackElem {
  cursor: pointer;
  height: auto;
  width: 48%;
}

.userPlaylist::-webkit-scrollbar {
  background: #04AA6D;
}

.userPlaylist::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
  transition: 150ms ease-in-out;
}

.userPlaylist::-webkit-scrollbar-thumb:hover {
  background: #000;
  transition: 150ms ease-in-out;
}

.buttonsRow {
  display: flex;
  width: 50%;
  grid-gap: 1em;
  margin: -2em auto;
}

.trackDetails {
  color: #fff;
  padding: .5em 1em;
}

.promptForm {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  min-height: 100vh;
  background: rgba(0, 0, 0, 80%);
  backdrop-filter: blur(3px);
  flex-direction: column;
  /* transition: 150ms ease-in-out; */
}

.formHeader {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.formHeader h1 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: #fff;
  border-bottom: groove 6px #04aa6d;
  padding-bottom: .5em;
  margin: 3em auto -1em;
}
.promptForm form {
  width: 80%;
  border: none;
  margin: 3em auto;
  padding: 0;
  /* transition: 150ms ease-in-out; */
  color: #fff;
}

.currentPlaylist {
  width: 95.3%;
  padding: 2em;
  max-height: 670px;
  overflow-y: auto;
  overflow-x: hidden;
}

.promptForm form button {
  border-radius: 10px;
  margin: 2em 0;
  font-size: 1.25em;
  font-weight: 700;
}

.promptForm form h2 {
  color: #04aa6d;
}

.closeBtn {
  color: #04aa6d;
  cursor: pointer;
}

.trackNum .greenSep {
  display: none;
}

.registrationForm h2 {
  padding-left: 1em;
}

.homeLinkWithLogo {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  height: 100%;
  width: 100%;
  justify-content: center;
  font-size: 1.4em;
  grid-gap: .3em;
}

.login-form {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.signup-form {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.registrationForm button {
  border-radius: 10px;
  font-family: 'Josefin Sans' !important;
}

/* Mobile Responsiveness */
@media (max-width: 1500px) {
  .dashB {
    flex-direction: column;
  }
  .dashboardLeft {
    width: 100%;
  }
  .dashboardRight {
    width: 100%;
    border: none;
  }
  .recentPlaylist {
    width: 50%;
    max-height: 200px;
  }
  .dashboardLeftTop {
    flex-direction: row;
  }
  .dashboardLeftBottom {
    max-height: 264px;
    border-bottom: solid 15px var(--green);
  }
  .dashBCurrent {
    width: 95.7%;
    max-height: 390px;
  }
}

@media (max-width: 1500px) and (min-width: 1060px) {
  .listofGenre {
    display: none;
  }
}

@media (max-width: 1380px) and (min-width: 1060px) {
  .numOf {
    display: none;
  }
}

/* Laptop 1366px */
@media (max-width: 1366px) {
  .animation svg {
    transform: scale(2) !important;
  }
}

/* Tablets & Notebooks 1080px - 991px */
@media (max-width: 1060px) {
  .recentPlaylist {
    width: 100%;
  }
  .imgcontainer {
    text-align: right;
    margin: -40px 15px -30px 0;
  }
}

@media (max-width: 980px) {
  .promptForm .buttonsRow {
    width: 75%;
  }
  .promptForm .userPlaylist {
    width: 75%;
  }
  .homepageRight {
    display: flex;
    align-items: center;
    width: 100%;
    max-height: 600px;
  }
  .animation svg {
    transform: scale(2) !important;
  }
}

/* Main Two Column Breakpoint */
@media (max-width: 933px) {
  /* .animation svg {
    display: none;
  } */
  .left {
    margin-top: -105px;
  }
  .flexCont {
  flex-direction: column;
  }
  .homeP {
    flex-direction: column-reverse;
    min-height: 82vh;
  }
  .animation {
    height: 345px !important;
  }
  .animation svg {
    width: 50% !important;
    transform: scale(1) !important;
  }
  .homepageRight {
    width: 93%;
    max-height: 125px;
  }
  .dashboardRight {
    width: 97.29%;
    border: none;
  }
  .dashboardLeftBottom {
    width: 50%;
  }
  .trackImage {
    width: 50%;
  }
}

@media (max-width: 875px) {
  .trackElem {
    width: 47%;
  }
  .dashboardLogo {
    display: none;
  }
  h2 {
    font-size: 1.2em;
  }
  .track {
    font-size: .85em;
    line-height: 1.3em;
  }
  .homeP {
    min-height: 69vh;
    padding-bottom: 5.5em;
  }
}

@media (max-width: 800px) {
  .registrationForm {
    width: 91%;
  }
}

/* iPhones & iPads 768px */
@media (max-width: 780px) {
  a.albumImageLink::before {
    content: attr(data-trackInfoMobile);
    line-height: 1.2em;
    font-size: .9em;
    padding: 0.5em;
  }
}

@media (max-width: 710px) {
  .trackImage {
    width: 100%;
  }
  .dashboardLeftBottom {
    width: 32%;
  }
}

/* Smaller Phones 667px */
@media (max-width: 667px) {
  .dashboardLeftBottom {
    width: 25%;
  }
  .promptForm .buttonsRow {
    flex-direction: column-reverse;
  }
}

@media (max-width: 596px) {
  .trackElem {
    width: 100%;
  }
  .dashboardLeftBottom {
   width: 20%;
  }
  h2 {
    font-size: 1.1em;
    padding-bottom: 1em;
  }
}

@media (max-width: 570px) {
  .dashboardLeftBottom {
    width: 15%;
  }
}

@media (max-width: 555px) {
  .dashboardLeftBottom {
    width: 10%;
  }
  h2 {
    font-size: .9em;
    display: flex;
    grid-gap: .3em;
  }
  .title-duration-genre h2 .greenSep:nth-child(4) {
    display: none;
  }
}

@media (max-width: 530px) {
  .dashboardLeftBottom {
    width: 7%;
  }
}

@media (max-width: 520px) {
  .dashboardLeftBottom {
    display: none;
  }
}

@media (max-width: 500px) {
  .headerButtons {
    display: none;
  }
  .formHeader h1 {
    font-size: 1.2em;
    text-align: left;
  }
  .topbarHomeLink {
    display: none !important;
  }
}

@media (max-width: 465px) {
  h2 {
    line-height: 1.1em;
  }
  .numOf {
    display: none;
  }
  .track span:nth-child(4),.track span:nth-child(5) {
    display: none;
  }
  .homepageLeft {
    overflow-y: hidden;
  }
  .homepageLeftBottom {
    flex-direction: column;
  }
  .logoHomepage {
    margin: 1em auto 0;
    max-width: 20%;
  }
  .homepageLeftBottom .savedListsText {
    width: 92%;
  }
  .descriptionBlock {
    font-weight: 400;
    font-size: 1.25em;
  }
}

@media (max-width: 415px) {
  .trackNum {
    display: none;
  }
}

@media (max-width: 391px) {
  h2 {
    display: block;
  }
  .listofGenre {
    display: none;
  }
}

@media (max-width: 368px) {
  h1 {
    font-size: 1.5em;
  }
  .menu {
    width: 100%;
  }
  .menu ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .topbarDashLink {
    display: none !important;
  }
  .genreList {
    display: none;
  }
  .listItem {
    font-size: 1.3em;
  }
  .descriptionBlock {
    font-size: 1.2em;
  }
}

/* World's Smallest Usable Phone 320px */
@media (max-width: 321px) {
  .formHeader h1 {
    font-size: 1em;
  }
  h1 {
    font-size: 1.4em;
  }
}

@media (max-width: 306px) {
  .listItem {
    grid-gap: 0.2em;
  }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  .listItem {
    grid-gap: 0.06em;
  }
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

/* Animations */
@keyframes hide-scroll {
  from, to { overflow: hidden; } 
}