
.grid-container {
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas:
      "sidenav header"
      "sidenav main"
      "sidenav footer";
    height: 100vh;
  }
  
  .header {
    grid-area: header;
    background-color: #648ca6;
  }
  
  .sidenav {
    grid-area: sidenav;
    background-color: #2b2c2e;
  }
  
  .main {
    grid-area: main;
    background-color: #8fd4d9;
  }
  
  .footer {
    grid-area: footer;
    background-color: #a3c6dd;
  }